# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
detection_object9/pyvenv.cfg
detection_object9/Scripts/activate
detection_object9/Scripts/activate.bat
detection_object9/Scripts/Activate.ps1
detection_object9/Scripts/backend-test-tools.exe
detection_object9/Scripts/check-model.exe
detection_object9/Scripts/check-node.exe
detection_object9/Scripts/coloredlogs.exe
detection_object9/Scripts/convert-caffe2-to-onnx.exe
detection_object9/Scripts/convert-onnx-to-caffe2.exe
detection_object9/Scripts/cpuinfo.exe
detection_object9/Scripts/deactivate.bat
detection_object9/Scripts/dotenv.exe
detection_object9/Scripts/email_validator.exe
detection_object9/Scripts/f2py.exe
detection_object9/Scripts/fastapi.exe
detection_object9/Scripts/fonttools.exe
detection_object9/Scripts/gradio.exe
detection_object9/Scripts/httpx.exe
detection_object9/Scripts/huggingface-cli.exe
detection_object9/Scripts/humanfriendly.exe
detection_object9/Scripts/isympy.exe
detection_object9/Scripts/jsonschema.exe
detection_object9/Scripts/markdown-it.exe
detection_object9/Scripts/normalizer.exe
detection_object9/Scripts/onnxruntime_test.exe
detection_object9/Scripts/onnxsim.exe
detection_object9/Scripts/pip.exe
detection_object9/Scripts/pip3.10.exe
detection_object9/Scripts/pip3.exe
detection_object9/Scripts/pyftmerge.exe
detection_object9/Scripts/pyftsubset.exe
detection_object9/Scripts/pygmentize.exe
detection_object9/Scripts/python.exe
detection_object9/Scripts/pythonw.exe
detection_object9/Scripts/ruff.exe
detection_object9/Scripts/torchrun.exe
detection_object9/Scripts/tqdm.exe
detection_object9/Scripts/ttx.exe
detection_object9/Scripts/typer.exe
detection_object9/Scripts/ultralytics.exe
detection_object9/Scripts/upload_theme.exe
detection_object9/Scripts/uvicorn.exe
detection_object9/Scripts/watchfiles.exe
detection_object9/Scripts/yolo.exe
detection_object9/share/man/man1/isympy.1
detection_object9/share/man/man1/ttx.1
kebin_detection_object/pyvenv.cfg
kebin_detection_object/Scripts/activate
kebin_detection_object/Scripts/activate.bat
kebin_detection_object/Scripts/Activate.ps1
kebin_detection_object/Scripts/deactivate.bat
kebin_detection_object/Scripts/pip.exe
kebin_detection_object/Scripts/pip3.10.exe
kebin_detection_object/Scripts/pip3.exe
kebin_detection_object/Scripts/python.exe
kebin_detection_object/Scripts/pythonw.exe
kebin_detection_object/Library/bin/libimalloc.dll
kebin_detection_object/Library/bin/libiomp5md.dll
kebin_detection_object/Library/bin/libiomp5md.pdb
kebin_detection_object/Library/bin/libiompstubs5md.dll
kebin_detection_object/Library/bin/libomp-fallback-cstring.spv
kebin_detection_object/Library/bin/mkl_avx.1.dll
kebin_detection_object/Library/bin/mkl_avx2.1.dll
kebin_detection_object/Library/bin/mkl_avx512.1.dll
kebin_detection_object/Library/bin/mkl_blacs_ilp64.1.dll
kebin_detection_object/Library/bin/mkl_blacs_intelmpi_ilp64.1.dll
kebin_detection_object/Library/bin/mkl_blacs_intelmpi_lp64.1.dll
kebin_detection_object/Library/bin/mkl_blacs_lp64.1.dll
kebin_detection_object/Library/bin/mkl_blacs_mpich2_ilp64.1.dll
kebin_detection_object/Library/bin/mkl_blacs_mpich2_lp64.1.dll
kebin_detection_object/Library/bin/mkl_blacs_msmpi_ilp64.1.dll
kebin_detection_object/Library/bin/mkl_blacs_msmpi_lp64.1.dll
kebin_detection_object/Library/bin/mkl_cdft_core.1.dll
kebin_detection_object/Library/bin/mkl_core.1.dll
kebin_detection_object/Library/bin/mkl_def.1.dll
kebin_detection_object/Library/bin/mkl_intel_thread.1.dll
kebin_detection_object/Library/bin/mkl_mc.1.dll
kebin_detection_object/Library/bin/mkl_mc3.1.dll
kebin_detection_object/Library/bin/mkl_msg.dll
kebin_detection_object/Library/bin/mkl_pgi_thread.1.dll
kebin_detection_object/Library/bin/mkl_rt.1.dll
kebin_detection_object/Library/bin/mkl_scalapack_ilp64.1.dll
kebin_detection_object/Library/bin/mkl_scalapack_lp64.1.dll
kebin_detection_object/Library/bin/mkl_sequential.1.dll
kebin_detection_object/Library/bin/mkl_tbb_thread.1.dll
kebin_detection_object/Library/bin/mkl_vml_avx.1.dll
kebin_detection_object/Library/bin/mkl_vml_avx2.1.dll
kebin_detection_object/Library/bin/mkl_vml_avx512.1.dll
kebin_detection_object/Library/bin/mkl_vml_cmpt.1.dll
kebin_detection_object/Library/bin/mkl_vml_def.1.dll
kebin_detection_object/Library/bin/mkl_vml_mc.1.dll
kebin_detection_object/Library/bin/mkl_vml_mc2.1.dll
kebin_detection_object/Library/bin/mkl_vml_mc3.1.dll
kebin_detection_object/Library/bin/omptarget.dll
kebin_detection_object/Library/bin/omptarget.rtl.level0.dll
kebin_detection_object/Library/bin/omptarget.rtl.opencl.dll
kebin_detection_object/Library/bin/tbb12.dll
kebin_detection_object/Library/bin/tbbbind_2_0.dll
kebin_detection_object/Library/bin/tbbbind_2_5.dll
kebin_detection_object/Library/bin/tbbbind.dll
kebin_detection_object/Library/bin/tbbmalloc_proxy.dll
kebin_detection_object/Library/bin/tbbmalloc.dll
kebin_detection_object/Library/share/doc/tbb/third-party-programs.txt
kebin_detection_object/Scripts/backend-test-tools.exe
kebin_detection_object/Scripts/check-model.exe
kebin_detection_object/Scripts/check-node.exe
kebin_detection_object/Scripts/coloredlogs.exe
kebin_detection_object/Scripts/convert-caffe2-to-onnx.exe
kebin_detection_object/Scripts/convert-onnx-to-caffe2.exe
kebin_detection_object/Scripts/cpuinfo.exe
kebin_detection_object/Scripts/dotenv.exe
kebin_detection_object/Scripts/email_validator.exe
kebin_detection_object/Scripts/f2py.exe
kebin_detection_object/Scripts/fastapi.exe
kebin_detection_object/Scripts/fonttools.exe
kebin_detection_object/Scripts/gradio.exe
kebin_detection_object/Scripts/httpx.exe
kebin_detection_object/Scripts/huggingface-cli.exe
kebin_detection_object/Scripts/humanfriendly.exe
kebin_detection_object/Scripts/isympy.exe
kebin_detection_object/Scripts/jsonschema.exe
kebin_detection_object/Scripts/markdown-it.exe
kebin_detection_object/Scripts/normalizer.exe
kebin_detection_object/Scripts/onnxruntime_test.exe
kebin_detection_object/Scripts/onnxsim.exe
kebin_detection_object/Scripts/pyftmerge.exe
kebin_detection_object/Scripts/pyftsubset.exe
kebin_detection_object/Scripts/pygmentize.exe
kebin_detection_object/Scripts/ruff.exe
kebin_detection_object/Scripts/torchrun.exe
kebin_detection_object/Scripts/tqdm.exe
kebin_detection_object/Scripts/ttx.exe
kebin_detection_object/Scripts/typer.exe
kebin_detection_object/Scripts/ultralytics.exe
kebin_detection_object/Scripts/upload_theme.exe
kebin_detection_object/Scripts/uvicorn.exe
kebin_detection_object/Scripts/watchfiles.exe
kebin_detection_object/Scripts/yolo.exe
kebin_detection_object/share/man/man1/isympy.1
kebin_detection_object/share/man/man1/ttx.1
detection_object/Scripts/activate
detection_object/Scripts/activate.bat
detection_object/Scripts/pip.exe
detection_object/Scripts/pip3.10.exe
detection_object/Scripts/pip3.exe
detection_object/pyvenv.cfg
detection_object/Scripts/activate
detection_object/Scripts/activate.bat
detection_object/Scripts/python.exe
detection_object/Scripts/pythonw.exe
detection_object1/pyvenv.cfg
detection_object1/Library/bin/libimalloc.dll
detection_object1/Library/bin/libiomp5md.dll
detection_object1/Library/bin/libiomp5md.pdb
detection_object1/Library/bin/libiompstubs5md.dll
detection_object1/Library/bin/libomp-fallback-cstring.spv
detection_object1/Library/bin/mkl_avx.1.dll
detection_object1/Library/bin/mkl_avx2.1.dll
detection_object1/Library/bin/mkl_avx512.1.dll
detection_object1/Library/bin/mkl_blacs_ilp64.1.dll
detection_object1/Library/bin/mkl_blacs_intelmpi_ilp64.1.dll
detection_object1/Library/bin/mkl_blacs_intelmpi_lp64.1.dll
detection_object1/Library/bin/mkl_blacs_lp64.1.dll
detection_object1/Library/bin/mkl_blacs_mpich2_ilp64.1.dll
detection_object1/Library/bin/mkl_blacs_mpich2_lp64.1.dll
detection_object1/Library/bin/mkl_blacs_msmpi_ilp64.1.dll
detection_object1/Library/bin/mkl_blacs_msmpi_lp64.1.dll
detection_object1/Library/bin/mkl_cdft_core.1.dll
detection_object1/Library/bin/mkl_core.1.dll
detection_object1/Library/bin/mkl_def.1.dll
detection_object1/Library/bin/mkl_intel_thread.1.dll
detection_object1/Library/bin/mkl_mc.1.dll
detection_object1/Library/bin/mkl_mc3.1.dll
detection_object1/Library/bin/mkl_msg.dll
detection_object1/Library/bin/mkl_pgi_thread.1.dll
detection_object1/Library/bin/mkl_rt.1.dll
detection_object1/Library/bin/mkl_scalapack_ilp64.1.dll
detection_object1/Library/bin/mkl_scalapack_lp64.1.dll
detection_object1/Library/bin/mkl_sequential.1.dll
detection_object1/Library/bin/mkl_tbb_thread.1.dll
detection_object1/Library/bin/mkl_vml_avx.1.dll
detection_object1/Library/bin/mkl_vml_avx2.1.dll
detection_object1/Library/bin/mkl_vml_avx512.1.dll
detection_object1/Library/bin/mkl_vml_cmpt.1.dll
detection_object1/Library/bin/mkl_vml_def.1.dll
detection_object1/Library/bin/mkl_vml_mc.1.dll
detection_object1/Library/bin/mkl_vml_mc2.1.dll
detection_object1/Library/bin/mkl_vml_mc3.1.dll
detection_object1/Library/bin/omptarget.dll
detection_object1/Library/bin/omptarget.rtl.level0.dll
detection_object1/Library/bin/omptarget.rtl.opencl.dll
detection_object1/Library/bin/tbb12.dll
detection_object1/Library/bin/tbbbind_2_0.dll
detection_object1/Library/bin/tbbbind_2_5.dll
detection_object1/Library/bin/tbbbind.dll
detection_object1/Library/bin/tbbmalloc_proxy.dll
detection_object1/Library/bin/tbbmalloc.dll
detection_object1/Library/share/doc/tbb/third-party-programs.txt
detection_object1/Scripts/activate
detection_object1/Scripts/activate.bat
detection_object1/Scripts/Activate.ps1
detection_object1/Scripts/backend-test-tools.exe
detection_object1/Scripts/check-model.exe
detection_object1/Scripts/check-node.exe
detection_object1/Scripts/coloredlogs.exe
detection_object1/Scripts/convert-caffe2-to-onnx.exe
detection_object1/Scripts/convert-onnx-to-caffe2.exe
detection_object1/Scripts/cpuinfo.exe
detection_object1/Scripts/deactivate.bat
detection_object1/Scripts/dotenv.exe
detection_object1/Scripts/email_validator.exe
detection_object1/Scripts/f2py.exe
detection_object1/Scripts/fastapi.exe
detection_object1/Scripts/fonttools.exe
detection_object1/Scripts/gradio.exe
detection_object1/Scripts/httpx.exe
detection_object1/Scripts/huggingface-cli.exe
detection_object1/Scripts/humanfriendly.exe
detection_object1/Scripts/isympy.exe
detection_object1/Scripts/jsonschema.exe
detection_object1/Scripts/markdown-it.exe
detection_object1/Scripts/normalizer.exe
detection_object1/Scripts/onnxruntime_test.exe
detection_object1/Scripts/onnxsim.exe
detection_object1/Scripts/pip.exe
detection_object1/Scripts/pip3.11.exe
detection_object1/Scripts/pip3.exe
detection_object1/Scripts/pyftmerge.exe
detection_object1/Scripts/pyftsubset.exe
detection_object1/Scripts/pygmentize.exe
detection_object1/Scripts/python.exe
detection_object1/Scripts/pythonw.exe
detection_object1/Scripts/ruff.exe
detection_object1/Scripts/torchrun.exe
detection_object1/Scripts/tqdm.exe
detection_object1/Scripts/ttx.exe
detection_object1/Scripts/typer.exe
detection_object1/Scripts/ultralytics.exe
detection_object1/Scripts/upload_theme.exe
detection_object1/Scripts/uvicorn.exe
detection_object1/Scripts/watchfiles.exe
detection_object1/Scripts/yolo.exe
detection_object1/share/man/man1/isympy.1
detection_object1/share/man/man1/ttx.1
